<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>苗博士CRM网络管理系统</title>
<link href="{$Think.const.CSS_URL}/bootstrap.min.css?v=3.3.5" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/animate.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/font-awesome.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/plugins/iCheck/custom.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/style.min.css?v=3.2.0" rel="stylesheet">
</head>
<body  class="gray-bg">
<div class="wrapper wrapper-content animated fadeInUp">
<form action="__URL__/report_tongji" method="post" id="contact-form">
<div class="col-sm-12">
    <div class="ibox float-e-margins" id="shoujisf1">
        <div class="ibox-title">
            <h5><a class="collapse-link">筛查选项</a></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-wrench" id="shoujisf2"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" style="padding-left:0px;padding-right:0px;" id="shoujisf3">
                <div class="col-sm-3">
                    <div class="input-group m-b">
                    <span class="input-group-addon"><font color="{$yanse}">所属门店</font></span>
                    <select class="form-control" name="yy_ID" id="register0">
                      <option value="">所有门店</option>
                      <volist name="ssyy" id="vo">
                      <if condition="$vo.yyid eq $dqyyID">
                      <option value="{$vo.yyid}" selected="selected">{$vo.yyname}</option>
                      <else/>
                      <option value="{$vo.yyid}">{$vo.yyname}</option>
                      </if>
                      </volist>
                    </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group m-b">
                    <span class="input-group-addon"><font color="{$yanse2}">所属组</font></span>
                    <select class="form-control" name="gongzuozu" id="gongzuozu" >
                      <option value="">所有组</option>
                       <volist name="gongzuozu" id="vo">
                       <if condition="$vo.role_ID eq $dqrole_ID">
                          <option value="{$vo.role_ID}"  selected="selected" >{$vo.role_name}</option>
                       <else/>
                         <option value="{$vo.role_ID}">{$vo.role_name}</option>
                       </if> 
                       </volist>
                    </select>
                    </div>
                </div>
                <div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
                    <div class="col-md-6">
                    <div class="input-group m-b" style="width:100%;">
                    <input name="zx_timeStart" type="text" class="form-control layer-date" id="shijian1" placeholder="YYYY-MM-DD" value="{$zx_timeStart}"/>
                    <span class="input-group-addon" id="visible-xs">开始时间</span>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="input-group m-b" style="width:100%;">
                    <input name="zx_timeEnd" type="text" class="form-control layer-date" id="shijian2" placeholder="YYYY-MM-DD"  value="{$zx_timeEnd}"/>
                    <span class="input-group-addon" id="visible-xs">结束时间</span>
                    </div>
                    </div>
                </div>
                <div class="col-sm-3">
                <button class="btn btn-primary" type="submit">确定筛选</button>
                </div>
        </div>
    </div>
</div>
</form>
<div class="col-sm-12">
   
   <P style="font-size:30px; text-align:center; ">正在制作中....</p>
   </div>

<!-- 全局js --> 
<script src="{$Think.const.JS_URL}/jquery.min.js"></script> 
<script src="{$Think.const.JS_URL}/bootstrap.min.js?v=3.3.5"></script> 
<!-- layerjs --> 
<script src="{$Think.const.JS_URL}/plugins/layer/layer.min.js"></script>
<!-- 自定义js --> 
<script src="{$Think.const.JS_URL}/content.min.js?v=1.0.0"></script>
<!-- layerDate plugin javascript -->
<script src="{$Think.const.JS_URL}/plugins/layer/laydate/laydate.js"></script>

<script type="text/javascript">
$(document).ready(function() {
<!-- 时间 --> 
var start = {
    elem: '#shijian1',
    format: 'YYYY-MM-DD',
    istime: false,
    istoday: true,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};
var end = {
    elem: '#shijian2',
    format: 'YYYY-MM-DD',
    istime: false,
    istoday: true,
    choose: function(datas){
        start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);
});
</script>
</body>
</html>