<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>苗博士CRM网络管理系统</title>
<link href="{$Think.const.CSS_URL}/bootstrap.min.css?v=3.3.5" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/animate.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/font-awesome.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/plugins/iCheck/custom.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/plugins/summernote/summernote.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/plugins/chosen/chosen.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}/style.min.css?v=3.2.0" rel="stylesheet">
<link href="{$Think.const.JS_URL}/plugins/layer/skin/layer.css" rel="stylesheet">
</head>
<!-- <body oncopy="alert('你想干啥，在我的眼皮底下复制，没有经我同意禁止复制！');return false;" class="gray-bg"> -->
<body lass="gray-bg">
<div class="layui-layer-shade" id="layui-layer-shade1" times="1" style="z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);"></div>
<div class="layui-layer layui-anim layui-layer-loading " id="layui-layer1" type="loading" times="1" showtime="0" contype="string" style="z-index: 19891015; top:50%; left:50%; margin-top:-19px; margin-left:-110px;"><div class="layui-layer-content layui-layer-loading2"></div><span class="layui-layer-setwin"></span></div>

<div class="wrapper wrapper-content animated fadeInUp">
  <form action="__URL__/report_zhaoluye" method="post" id="contact-form">
    <div class="col-sm-12">
      <div class="ibox float-e-margins" id="shoujisf1">
        <div class="ibox-title">
          <h5>
            <a class="collapse-link">百度账户着陆页报表</a>
          </h5>
          <div class="ibox-tools">
            <a class="collapse-link">
            <i class="fa fa-wrench" id="shoujisf2"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content" style="padding-left:0px;padding-right:0px;" id="shoujisf3">
          <div class="col-sm-3">
            <div class="input-group m-b">
              <span class="input-group-addon"><font color="{$yanse}">所属门店</font></span>
              <select class="form-control" name="yy_ID" id="register0">
                <option value="">所有门店</option>
                <volist name="ssyy" id="vo">
                  <if condition="$vo.yyid eq $dqyyID">
                    <option value="{$vo.yyid}" selected="selected">{$vo.yyname}</option>
                    <else/>
                    <option value="{$vo.yyid}">{$vo.yyname}</option>
                  </if>
                </volist>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group m-b">
              <span class="input-group-addon"><font color="{$yanse1}">百度账户</font></span>
              <select class="form-control" name="zhanghuID" id="baiduzhanghao" >
                <option value="">所有账户</option>
                <volist name="zhanghurow" id="vo">
                  <if condition="$vo.zhanghu_ID eq $zhanghuID">
                    <option value="{$vo.zhanghu_ID}" selected="selected">{$vo.zhanghuming}</option>
                    <else/>
                    <option value="{$vo.zhanghu_ID}">{$vo.zhanghuming}</option>
                  </if>
                </volist>
              </select>
            </div>
          </div>
          <div class="col-sm-3" id="shijian11" style="padding-left:0px;padding-right:0px;">
            <div class="col-md-6">
              <div class="input-group m-b" style="width:100%;">
                <input name="zx_timeStart" type="text" class="form-control layer-date" id="shijian1"  placeholder="YYYY-MM-DD" value="{$zx_timeStart}"/>
                <span class="input-group-addon" id="visible-xs">开始时间</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group m-b" style="width:100%;">
                <input name="zx_timeEnd" type="text" class="form-control layer-date" id="shijian2"  placeholder="YYYY-MM-DD"  value="{$zx_timeEnd}"/>
                <span class="input-group-addon" id="visible-xs">结束时间</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group m-b">
              <span class="input-group-addon"><font color="{$yanse1}">推广设备</font></span>
              <select class="form-control" name="zhanghushebei">
			    <option value="2" {$selectd3}>手机端</option>
                <option value="1" {$selectd2}>计算机端</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group m-b">
              <span class="input-group-addon"><font color="{$yanse1}">URL访问</font></span>
              <select class="form-control" name="jiance">
			    <option value="0" {$selectd_bjc}>不检测</option>
                <option value="1" {$selectd_jc}>检测</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3" style="padding-left:0px;padding-right:0px;">
            <div class="col-xs-6">
              <input  class="btn btn-primary" name="submit1" type="submit" id="xuanzhongz" value="确定筛选"  style="margin-bottom:5px;">
            </div>
          </div>
          <div class="col-sm-12">
                    <div class="input-group m-b">
                    <span class="input-group-addon"><font color="{$yanse1}">关联门店</font></span>
                      <select data-placeholder="选择关联门店" name="duoyuan[]" class="chosen-select" multiple style="width:350px;" tabindex="4">		
                       <volist name="ssyy" id="vo">	
							  <option name="duoyuan[]" value="{$vo.yyid}" hassubinfo="true" 
							    <range name="vo.yyid" value="$duoyuan1"  type="in"> selected</range>>
							   {$vo.yyname}
							   </optio> 		
                       </volist>
                      </select>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </form>
  <div>

  </div>
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          <a class="collapse-link">着陆页 - 咨询统计</a>
        </h5>
        <div class="ibox-tools">
          <a class="collapse-link">
          <i class="fa fa-wrench"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content" style="margin-bottom:0px; padding-bottom:0px;">
        <table class="table table-striped table-bordered table-hover dataTables-example" style=" width:100% !important;">
          <thead>
            <tr id="shangtxt">
              <th class="hidden-xs" nowrap>序号</th>
              <th nowrap>着陆页</th>
              <th class="hidden-xs" nowrap>预览</th>
              <th nowrap>展现</th>
              <th class="hidden-xs" nowrap>点击</th>
              <th class="hidden-xs" nowrap>消费</th>
              <th class="hidden-xs" nowrap>点击咨询率</th>
			  <th class="hidden-xs" nowrap>咨询</th>
			  <th class="hidden-xs" nowrap>预约</th>
			  <th class="hidden-xs" nowrap>到诊</th>
			  <th class="hidden-xs" nowrap>咨询成本</th>
			  <th class="hidden-xs" nowrap>预约成本</th>
			  <th class="hidden-xs" nowrap>到诊成本</th>

            </tr>
          </thead>
          <tbody>
            <volist name='list' id='vo' key="key" offset="0" length='2000'> <!--  offset="0" length='300' -->
              <tr>
                <td class="hidden-xs">{$xuhao++}</td>
                <td>{$vo.URL} {$vo.fangwen}</td>
                <td class="hidden-xs"><a href="javascript:void(0)" onClick="urllj('{$vo.URL}','{$vo.pipeici}');" title="点击打开浏览" class="badge badge-info"><i class="icon icon-search"></i> 预览</a></td>
                <td>{$vo.zhanxian}</td>
                <td class="hidden-xs">{$vo.dianji}</td>
                <td class="hidden-xs">¥{$vo.xiaofei}</td>
                <td class="hidden-xs">{$vo.dianjizixunlv}</td>
                <td class="hidden-xs">{$vo.keywordidzixun}</td>
                <td class="hidden-xs">{$vo.keywordidyuyue}</td>
                <td class="hidden-xs">{$vo.keywordiddaozhen}</td>
                <td class="hidden-xs">¥{$vo.zixunchengben}</td>
                <td class="hidden-xs">¥{$vo.yuyuechengben}</td>
                <td class="hidden-xs">¥{$vo.daozhenchengben}</td>
              </tr>
            </volist>
          </tbody>
        </table>
        <div style="margin-top:-20px; margin-bottom:10px;" class="hidden-xs">
         <form method="POST" action="__URL__/ExcleDC_zhaoluye">
          <input type="hidden" name="excle" value='{$daochu}'>
		  <input type="hidden" name="zx_timeStart" value='{$zx_timeStart}' />
			<input type="hidden" name="zx_timeEnd" value='{$zx_timeEnd}' />
          <input type="submit" name="submit_1" class="btn btn-white btn-sm" id="xuanzhongz2" value="全部导出xls">
         </form>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="alert alert-warning alert-dismissable" style="margin-top:-20px;">
         <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
         {$shuoming}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 全局js -->
<script src="{$Think.const.JS_URL}/jquery.min.js"></script>
<script src="{$Think.const.JS_URL}/bootstrap.min.js?v=3.3.5"></script>
<!-- 自定义js -->
<script src="{$Think.const.JS_URL}/content.min.js?v=1.0.0"></script>
<!-- layerjs -->
<script src="{$Think.const.JS_URL}/plugins/layer/layer.min.js"></script>
<!-- layerDate plugin javascript -->
<script src="{$Think.const.JS_URL}/plugins/layer/laydate/laydate.js"></script>
<!-- chosen -->
<script src="{$Think.const.JS_URL}/plugins/chosen/chosen.jquery.js"></script>
<!-- Data Tables -->
<link href="{$Think.const.CSS_URL}/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<script src="{$Think.const.JS_URL}/plugins/dataTables/jquery.dataTables.js"></script>
<script src="{$Think.const.JS_URL}/plugins/dataTables/dataTables.bootstrap.js"></script>
<!--二级联动-->
<script type="text/javascript">
function urllj(urllj,gjclj){
parent.layer.open({
    type: 1,
    title: '匹配词',
	skin: 'layui-layer-demo',
	shadeClose: true,
    shade: false,
    area: ['20%', '100%'],
	offset: ['0', '0'],
    content: "<div class='ibox-content'>" + gjclj + "</div>" //iframe url
});
parent.layer.open({
    type: 2,
    title: '着陆页',
	skin: 'layui-layer-demo',
    shadeClose: true,
    shade: false,
    area: ['80%', '100%'],
	offset: ['0', '20%'],
    content: urllj, //iframe url
	cancel: function(){
	parent.layer.closeAll();
	}
});
};
$(document).ready(function(){
$(".chosen-select").chosen();
var shijian1 = {
    elem: '#shijian1',
    format: 'YYYY-MM-DD',
    istoday: true,
    choose: function(datas){
    shijian2.min = datas;
    }
};
var shijian2 = {
    elem: '#shijian2',
    format: 'YYYY-MM-DD',
    istoday: true,
    choose: function(datas){
    shijian1.max = datas;
    }
};
laydate(shijian1);
laydate(shijian2);
<!-- 首次加载 --> 

$("#register0").change(function(){ //二级联动
$.ajax({  //百度账号联动
type:"post",
url:"{$Think.const.DQURL}Baidutongji/baiduliandong",
data:"yy_ID=" + $("#register0").val(),
success:function(msg){
$("#baiduzhanghao").html(msg);
}
});
});

$(".dataTables-example").dataTable({pageLength:10});  //表格排序

layer.closeAll('loading');
$('#xuanzhongz').click(function () {  //筛选等待
//loading层
var index = layer.load(2,{
  shade: [0.3,'#000'] //0.1透明度的白色背景
});

  var $btn = $(this);
  $btn.button('loading');
    setTimeout(function(){
      $btn.button('reset');
  }, 5000);
});
$('#xuanzhongz2').click(function () {  //筛选等待
  var $btn = $(this);
  $btn.button('loading');
    setTimeout(function(){
      $btn.button('reset');
  }, 5000);
});
});
</script>
</body>
</html>
